  .gitconfig
  
  [alias] co = checkout
  [alias]ci = commit
  [alias]st = status
  [alias]br = branch
  [alias] hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
git config --global alias.type  "cat-file -t"
  [alias] dump = cat-file -p